
h1 { color:purple;

}

/* p{ color: blueviolet
    
}*/


#p2{ color: magenta
    
}

*{ color: blue;
    
}

.black_paras{ color: black;
    
}
.red_paras{ color: red;
    
}
.blue_paras{ color: blue;
    
}
